@{
    ViewData["Title"] = "DividirResultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Divisão</h1>
    <p>A divisão de @ViewBag.Num1 / @ViewBag.Num2 é @ViewBag.Resultado</p>

</div>