@{
    ViewData["Title"] = "MultiplicarResultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Multiplicação</h1>
    <p>A multiplicação de @ViewBag.Num1 * @ViewBag.Num2 é @ViewBag.Resultado</p>

</div>