@{
    ViewData["Title"] = "SomarResultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Soma</h1>
    <p>A soma de @ViewBag.Num1 + @ViewBag.Num2 é @ViewBag.Resultado</p>

</div>