@{
    ViewData["Title"] = "Somar";
}

<div class="text-center">


    <h1 class="display-4">Operação Matemática Somar</h1>
    <p>Utilize o formulário abaixo para somar dois números</p>

    <form action="SomarResultado" method="post">
        <label for="num1">1º número:</label>
        <br>
        <input type="text" name="num1" id="num1">
        <br><br>
        <label for="numero2">2º número:</label>
        <br>
        <input type="text" name="num2" id="num2">
        <br><br>
        <input type="submit" value="Somar">
    </form>

</div>
