@{
    ViewData["Title"] = "SubtrairResultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Subtração</h1>
    <p>A subtração de @ViewBag.Num1 - @ViewBag.Num2 é @ViewBag.Resultado</p>
    
</div>